<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class=""  >
					<span>
						Yönetici Paneli
						<span class="user-level">Administrator</span>
						
					</span>
				</a>
				<div class="clearfix"></div>

				
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/ProgressBars/Index">
					<i class="la la-dashboard"></i>
					<h6>Dashboard</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Menu/Index">
					<i class="la la-list"></i>
					<h6>Menüyü Gör</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-keyboard-o"></i>
					<h6>Kategoriler</h6>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Product/Index">
					<i class="la la-spoon"></i>
					<h6>Ürünler</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking/Index">
					<i class="la la-bell"></i>
					<h6>Rezervasyonlar</h6>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-font"></i>
					<h6>Hakkımızda</h6>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/Discount/Index">
					<i class="la la-cart-arrow-down"></i>
					<h6>İndirimler</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Slider/Index">
					<i class="la la-angle-double-up"></i>
					<h6>Öne Çıkanlar</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-comments-o"></i>
					<h6>Referanslar</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-link"></i>
					<h6>Sosyal Medya </h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-bar-chart"></i>
					<h6>İstatistikler</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTable/Index">
					<i class="la la-table"></i>
					<h6>Masalar</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTable/TableListByStatus">
					<i class="la la-gg-circle"></i>
					<h6>Masa Durumları</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index">
					<i class="la la-comment"></i>
					<h6>Mesaj</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/ClientUserCount">
					<i class="la la-copy"></i>
					<h6>Client Sayısı</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notification/Index">
					<i class="la la-heart"></i>
					<h6>Bildirimler</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Settings/Index">
					<i class="la la-gears"></i>
					<h6>Ayarlar</h6>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/Logout">
					<i class="la la-sign-out"></i>
					<h6>Çıkış yap</h6>
				</a>
			</li>
		</ul>
	</div>
</div>